.campus {
    margin: 80px auto;
    width: 90%;
    text-align: center;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.gallery img {
    width: 23%;
    border-radius: 10px;
}

/* -------------------- media query --------------------*/

@media (max-width: 800px){
    .gallery {
        flex-wrap: wrap;
    }

    .gallery img {
        /* can change this to 48 if needed, shows 2 pictures side by side instead */
        width: 96%; 
        margin-bottom: 25px;
    }
}